# Ignore everything
*

# ... except for
!cache/
!cmd/
!logger/
!requests/
!server/
!go.mod
!go.sum
!main.go

# Can be removed after this will be fixed https://issues.redhat.com/browse/STONEBLD-3768
!labels.json
